
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
    <link rel="icon" href="~/imagenes/icono_logo_rrhh.png">

    <style>

        body {
            background-image: url('/imagenes/Quepal.jpg');
        }

        #carusel {
            -webkit-text-stroke: 1px black;
            font-family: 'Roboto Slab', serif;
        }

        .carousel-item {
            height: 500px;
        }

            .carousel-item img {
                height: 500px;
            }
    </style>
</head>
<body>

    @Html.Partial("NavBar")

    <div class="container-fluid mt-4">

        <div id="carusel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#carusel" data-slide-to="0" class="active"></li>
                <li data-target="#carusel" data-slide-to="1"></li>
                <li data-target="#carusel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <a href="/Mantenimiento/Empleado"><img src="~/imagenes/img_registrar.jpg" class="d-block w-100" alt=""></a> 
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="">Registra nuevos empleados</h1>
                    </div>
                </div>


                <div class="carousel-item">
                    <a href="#"><img src="~/imagenes/img_nomina.jpg" class="d-block w-100" alt=""></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h1>Puedes ver las nóminas por mes!</h1>
                    </div>
                </div>

                <div class="carousel-item">
                    <a href="#"><img src="~/imagenes/img_empleados_activos.jpg" class="d-block w-100" alt=""></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h1>Empleados Activos</h1>
                    </div>
                </div>

            </div>

            <a href="#carusel" class="carousel-control-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previo</span>
            </a>
            <a href="#carusel" class="carousel-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>


</body>
</html>
